<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Bots</h1>
    <ul>
        {{range .Bots}}
            <li>
                <p>{{.Host}}:{{.Port}}</p>
                <form method="post" action="/commands">
                    <input type="hidden" name="addr" value="{{.Host}}:{{.Port}}">
                    <input type="hidden" name="command" value="scan">
                    <button type="submit">Scan</button>
                </form>
            </li>
        {{end}}
    </ul>
</body>
</html>